@import "tailwindcss";

:root {
  --text: #232935;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --border-color: #E5E5E5;
  --select-bg: #f9fafb;
  --select-text: #374151;
  --select-border: #e5e7eb;

  --data-grid-border-color: #F3F4F6;
  --data-grid-selection-bg: rgba(26, 66, 232, 0.2);
  --data-grid-selection-border: #1A42E8;
  --data-grid-selection-anchor-border: #1A42E8;
  --data-grid-cell-bg: #fff;
  --data-grid-cell-full-selected-bg: #1A42E8;
  --data-grid-header-cell-bg: #f6f9fc;
  --data-grid-cell-nth6n3-bg: #F5FAFF;
  --data-grid-cell-nth6n6-bg: #F8F9F9;

  font: 14px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-x: contain; /* 阻止页面退回 */
  -webkit-overflow-scrolling: touch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ABB2BF;
    --text-h: #f9fafb;
    --bg: #1b1d23;
    --select-bg: #242832;
    --select-text: #e5e7eb;
    --select-border: #454b57;

    --border-color: #363a44;
    --data-grid-border-color: #363a44;
    --data-grid-selection-bg: rgba(26, 66, 232, 0.2);
    --data-grid-selection-border: #1937ad;
    --data-grid-selection-anchor-border: #1A42E8;
    --data-grid-cell-bg: #20232b;
    --data-grid-cell-full-selected-bg: #1A42E8;
    --data-grid-header-cell-bg: #292d36;
    --data-grid-cell-nth6n3-bg: #242832;
    --data-grid-cell-nth6n6-bg: #22262f;
  }
}

.select {
  font-family: inherit;
  font-size: 13px;
  height: 26px;
  padding: 3px 28px 3px 12px;
  border-radius: 6px;
  border: 1px solid var(--select-border);
  background-color: var(--select-bg);
  color: var(--select-text);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' fill='none'%3E%3Cpath stroke='%23868686' stroke-linecap='round' stroke-linejoin='round' d='m1 .5 3 3 3-3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.data-grid-cell.nth6n-3 {
  background-color: var(--data-grid-cell-nth6n3-bg, #F5FAFF);
}

.data-grid-cell.nth6n-6 {
  background-color: var(--data-grid-cell-nth6n6-bg, #F8F9F9);
}
